body {
    background: #F4F8F9;
    font-family: Verdana;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    color: #555555;
}

a {
    color: #0B7FDC;
}

a:hover {
    color: #555555;
}

h2 {
    color: #A8B0B4;
}

#main-wrapper, header, footer {
    max-width: 800px;
    min-width: 500px;
    width: 100%;
    margin: 10px auto;
}

.control-form {
    width: 500px !important;
    min-height: 100px;
    margin-top: 50px !important;
}

.page-component {
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
}

.container {
    padding: 20px;
}

/* Default form styles */
form {
    margin: 0;
}

form .control,
.form .control {
    margin: 10px;
}

form .control-buttons > *:not(:first-child),
.form .control-buttons > *:not(:first-child) {
    margin-left: 5px;
}

form .control .form-value,
.form .control .form-value {
    display: block;
    border-bottom: 1px solid #B9C3C8;
    padding: 5px 0;
}

input, button {
    font-size: 15px;
}

/* Button styles */
.button-info {
    background: #0B7FDC;
    color: #FFFFFF;
}

.button-simple {
    background: #FFFFFF;
    color: #0B7FDC;
    border: 1px solid #0B7FDC !important;
}

.button {
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    width: 95px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/* Input styles */
input {
    border: 0;
    border-bottom: 1px solid #B9C3C8;
    padding: 5px 0;
    width: 100%;
    margin: 5px 0;
}

/* Notification styling */
.notify {
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px 0;
}

.notify-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.notify-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* default some tag styles */
label {
    color: #727F87;
}

/* navigation */
.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
}

.navigation-bar .navigation-item {
    float: left;
}

.navigation-bar .navigation-item > a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-bar .navigation-item > a:hover {
    border-bottom: 3px solid #0B7FDC;
    padding-bottom: 11px;
}

/* Other style params */
.text-right {
    text-align: right;
}

.pull-right {
    float: right;
}

.row {
    display: inline-block;
    width: 100%;
}

/* Data items styling */
.data-items {
    display: flex;
    flex-direction: column;
}

.data-items .data-item {
    padding: 10px 0;
    background: #F6F7F9;
    margin: 3px 0;
}

.data-items .data-item .data-item-img {
    text-align: center;
    width: 35px;
    color: #A8B0B4;
}